bg { 
    
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}